// Buttons

@mixin button-color-variant($font-color, $bg-color) {
    color: $font-color;
    background-color: $bg-color;
}

@mixin button-border-variant($border-width, $border-color, $radius) {
    border: $border-width solid $border-color;
    border-radius: $radius;
}
