// ------------------------------------------------------------------------------------
// This file contains all styles related to the button component
// ------------------------------------------------------------------------------------


.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    font-size: $btn-font-size;
    @include button-color-variant($btn-font-color, $btn-bg-color);
    @include button-border-variant($btn-border-width, $btn-border-color, $btn-border-radius);
    cursor: pointer;
}




.svg-icon {
    width: 30px; 
}


    
    