// ------------------------------------------------------------------------------------
// This file contains all styles related to the button component
// ------------------------------------------------------------------------------------
// .recruit-btn {

//     display: inline-flex;
//     // justify-content: flex-start;
//     align-items: center;
//     column-gap: 1.6rem;
//     // width: 16.2rem;
//     padding: 5px 8.2px;
//     font-family: $font-family-primary;
//     font-size: 16px;
//     font-weight: 700;
//     color: $white-color;
//     background-color: $romance-color;
//     border: 1px solid $romance-color;
//     border-radius: 3px;
//     cursor: pointer;
//     white-space: nowrap;
//     line-height: 0;

// }

.btn {
    @extend %flex-row-center;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    font-size: $btn-font-size;
    @include button-color-variant($btn-font-color, $btn-primary-color);
    @include button-border-variant($btn-border-width, $btn-border-primary-color, $btn-border-radius);
    cursor: pointer;
}

.svg-icon {
    width: 30px;
    margin-right: 16px;
}

.btn.primary-btn {
    padding: 5px 8.2px;
    background-color: $btn-primary-color;
}

.btn.secondary-btn {
    padding: 5px 10px;
    background-color: $btn-secondary-color;
    border-color: $btn-secondary-color;
}

.about-employee-content .btn {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
    width: 18.6rem;
    padding: 10.5px 10px;
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: 700;
    color: $white-color;
    background-color: $vivid-burgundy-color;
    border-color: 1px solid $vivid-burgundy-color;
    border-radius: 3px;
}

.about-employee-content .icon-btn {
    font-size: 16px;
}
    