// ------------------------------------------------------------------------------------
// This file contains all styles related to the button component
// ------------------------------------------------------------------------------------


.btn {
    @extend %flex-row-center;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    font-size: $btn-font-size;
    @include button-color-variant($btn-font-color, $btn-primary-color);
    @include button-border-variant($btn-border-width, $btn-border-primary-color, $btn-border-radius);
    cursor: pointer;
}

.svg-icon {
    width: 30px;
    margin-right: 16px;
}

.btn.primary-btn {
    padding: 5px 8.2px;
    background-color: $btn-primary-color;
}

.btn.secondary-btn {
    padding: 5px 10px;
    background-color: $btn-secondary-color;
    border-color: $btn-secondary-color;
}

    
    